{{>header}}
<section id="viewCreateAd" class="viewCreateAd">
    <h1 class="titleForm">Create new Advertisement</h1>
    <form action='#/createad' method='POST' id="formCreateAd" class="form">
        {{> createEditInfo }}
        <div>
            <input type="submit" id="buttonCreateAd" value="Create" />
        </div>
    </form>
</section>
{{>footer}}