{{>navigation}} {{>header}}
<section id="viewLogin" class="viewLogin">
    <h1 class="titleForm">Please login</h1>
    <form action="#/login" method="POST" id="formLogin" class="form">
        {{>singInInfo}}
        <div>
            <input type="submit" id="buttonLoginUser" value="Login" />
        </div>
    </form>
</section>
{{>footer}}