{{>header}}
<section id="viewRegister" class="viewRegister">
    <h1 class="titleForm">Please register here</h1>
    <form action="#/register" method="POST" id="formRegister" class="form">
        {{>singInInfo}}
        <div>
            <input type="submit" id="buttonRegisterUser" value="Register" />
        </div>
    </form>
</section>
{{>footer}}