 {{>header}}
<section id="viewAds" class="viewAds" style="display: block;">
    <h1 class="titleForm">Advertisements</h1>
    <div id="ads" class="ads">
        {{!-- {{>listAds}} --}}
    </div>> {{>pagination}}
</section>
{{>footer}}